.app {
    font-family: sans-serif;
    text-align: center;
  }
  
  .app {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #000000;
    font-size: 13px;
    line-height: 1;
  }

  
  ul,
  ol,
  dd {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  main {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }
  
  h1 {
    font-size: 16px;
    font-weight: bold;
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .space {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    background-color: tan;
    margin: -2px;
    border: solid;
  }

  .tile {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    background-color: tan;
    margin: 5px;
    border: solid;
  }

  .rack-base {
    margin-top: 5vh;
    padding-bottom: 5px;
    border-bottom: solid;
  }

  .grid-base {
    margin-top: 1vh;
  }

  
  .space.selected {
    background-color: red;
  }

  .tile.selected {
    background-color: blue;
  }
  
  label {
    margin-right: 15px;
  }